body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open-sans', sans-serif;
  background-color: #021A32;
  color: white;
}

header {
  margin: 15px 0 15px 0;
}

.container {
  max-width: 87%;
  padding: 0;
}

header.fixed{
  position: fixed;
  top: -15px;
  width: 100%;
  z-index:10;  
  background-color: #021A32;
  height: 70px;
}

header.fixed > .row{
  margin-top: 3px;
}

label h2 {
  font-size: 1.5em;
  padding-top: 10px;
}

.container-logo a {
  color: white;
  text-decoration: none;
}

.container-logo {
  margin-left: 13.7%;
}

.container-logo label {
  position: absolute;
  top: -20%;
  left: 29%;
}

.logo-pagina {
  width: 50px;
  height: auto;
}

.logo-usuario {
  width: 40px;
  height: auto;
}

#dLabel:hover {
  cursor: pointer;
}

.sesion {
  float: right;
  margin-right: 8.5%;
  font-size: 20px;
}

.configuracion-titulo {
  margin-top: 20px;
}

.seccion-principal {
  margin-left: 35px;
}

.filtros-container {
  height: 590px;
  background-color: #133B61;
  margin: 0 18px 0 10px;
  font-size: 1.2em;
}

.filtros-container.fixed{
  position: fixed;
  top: 70px;
  z-index:10;  
  background-color: #133B61;
  height: 590px;
  width: 165px;
  margin: 0 18px 0 10px;
  font-size: 1.2em;
}

.filter-body {
  width: 75%;
  margin-bottom: -20px;
}

.filtrar-por {
  height: 32%;
}

.ultimos-jugados, .recomendados {
  background-color: #133B61;
  height: 100px;
  width: 90%;
  margin-bottom: 20px;
}

.filtros-utilizados {
  background-color: #133B61;
  height: 40px;
  margin-bottom: 20px;
  padding: 4px 2px 2px 15px;
}

.filtros-utilizados.fixed {
  position: fixed;
  top: 70px;
  z-index:10;  
  background-color: #133B61;
  height: 40px;
  margin-bottom: 20px;
  padding: 4px 2px 2px 15px;
  width: 75.33%;
}

.checked {
  color: yellow;
}

.juegos {
  background-color: #133B61;
  height: 290px;
  width: 224px;
  margin: 20px 40px 20px 0;
}

.juegos h3, .card-title {
  font-weight: 550;
  font-size: 1.5em;
}

.juegos h3 {
  margin: 0 1rem 0 0;
}

.card-text {
  margin-right: 10px;
  width: 105%;
}

.last-row {
  width: 110%;
}

.sibling-fade {
  width: 94.5%;
  visibility: hidden;
}

.sibling-fade > * {
  visibility: visible;
}

.sibling-fade > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.sibling-fade > *:hover {
    opacity: 1;
    transform: perspective(200px) scale(1.15) translate3d(5px, -5px, 0px) rotate3d(1,0,0,3deg);
    z-index: 1;
    transition-delay: 0ms, 0ms;
    background-color: #28537b;
    box-shadow: 0 3px 20px 12px rgba(0, 0, 0, 0.4);

}

.card {
    background-color: #133B61;
    border: none;
}

.filtros-container .card button.btn-link {
    color: white;
    text-decoration: none;
}

.filtros-container .card button.btn-link:hover {
    color: white;
    text-decoration: none;
}

.card-deck a {
  text-decoration: none;
  color: inherit;
}

p.title-ultimos-jugados, p.title-juegos-recomendados {
  margin-bottom: -15px;
}

.filtros-container .card-body {
  padding: 0px;
}

.juegos .img-container .card-img-top {
 height: 116px;
}

.jugados-recomendados {
  margin-top: 15px;
  display: inline-block;
  margin: 15px 20px 0 38px;
  width: 10%;
  text-align: center;
}

.jugados-recomendados img {
  height: 50px;
}

.card-body {
  padding: .0rem;
}

.remove-filtro {
  opacity: 1;
  line-height: 0rem;
  background-color: #d47373 !important;
  color: white;
  padding: 0.6rem;
  width: .2rem;
  height: .2rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 0 0 0 .7rem;
  cursor: pointer;
}

.alert {
  padding: .1rem .5rem;
  border-radius: .7rem;
}

.filtros-orden {
  width: 100%;
  font-size: .7em;
  margin-bottom: 7px;
}

.filtros-orden a{
  color: white;
}

.filtro-avanzado {
  height: 50%;
  margin-top: 15px;
}

.filter-body .filter-title {
  height: 40px;
  margin-bottom: -15px;
}

/* .filtro-avanzado .filter-body {
  margin-top: -3em;
} */

#nav-mensual-tab, #nav-semanal-tab {
    width: 50%;
}

.nav-tabs {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #021A32;
    border-color: #133B61;
}

.nav-tabs .nav-link:hover {
    color: #B7B7B7;
    border-color: #0E1A36;
}

.list-group-item, .nav-tabs .nav-link.active {
    background-color: #0A152F;
    border-color: #0E1A36;
}

.nav-tabs .nav-link.active {
    color: #B7B7B7;
}

.puntuacioning {
    overflow-y: scroll;
    height: 304px;
}

.title, .puntuacion {
    font-size: 15px;
    margin-top: 10px;
}

.puntuacion {
    color: #B7B7B7;
    padding-left: 25px;
}

.puntuacioning-col, .game-info-col {
    padding-left: 0;
}

.puntuacioning, .game-info {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.game-screenshots {
  margin-top: 30px; /*Ubicacion del carousel de screenshots*/
}

.ranking-col {
  background-color: #133B61;
  height: 700px;
}

.ranking-title {
  padding-top: 5px;
}

.align-right {
  float: right;
}

.ultimos-jugados, .recomendados {
  width: 91.7%;
  padding: 2px 15px;
}

.filtros-utilizados{
  width: 91.7%;
  padding: 8px 15px;
}

.game-tag {
  position: absolute;
  padding: 5px;
  border-bottom-right-radius: 25px 15px;
  /* 30px 20px; */
}

.img-container {
  padding: 10px 0;
}

.checkbox-category tr td{
  font-size: .8rem;
}

.checkbox-category{
  margin-left: 30px;
}

.filter-title{
  margin-bottom: -25px;
}

.card-img-top.img-game{
  width: 100%;
  height: 290px;
}

.game-page-title{
  margin-bottom: 40px;
}

.game-page-play{
  margin-bottom: 1rem;
}

.game-page-description p {
  margin-bottom: 15px;
  text-align: justify;
}

.info-container {
  margin-bottom: 25px;
}

.tag-accion{
  background-color: orangered;
}

.tag-aventura{
  background-color: blue;
}

.tag-carreras{
  background-color: black;
}

.tag-deporte{
  background-color: green;
}

.tag-estrategia{
  background-color: rgba(211, 207, 4, 0.863);
}

.tag-ingenio{
  background-color: rgb(1, 131, 131);
}

.tag-multijugador{
  background-color: purple;
}

.tag-puzzle{
  background-color: lightslategray;
}

.tag-tiros{
  background-color: red;
}

/* Comienza el stilo del doble slider */

.price-slider { 
  position: relative; 
  width: 75%; 
  margin: 0 auto 20px; 
  height: 35px; 
  text-align: center; 
} 

.price-slider input { 
  pointer-events: none; 
  position: absolute; 
  left: 0; 
  top: 15px; 
  width: 100%; 
  outline: none; 
  height: 18px; 
  margin: 0; 
  padding: 0; 
  border-radius: 8px; 
} 

.price-slider input::-webkit-slider-thumb { 
  pointer-events: all; 
  position: relative; 
  z-index: 1; 
  outline: 0; 
  -webkit-appearance: none; 
  height: 24px; 
  width: 24px; 
  border-radius: 12px; 
  background-color: white; 
  border: 2px solid black; 
} 