body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Lustria', serif;
    background-color: #021A32;
    color: white;
}

header{
    margin: 20px 0 20px 0;    
}

.container-logo a{
    color: white;
    text-decoration: none;
}

.logo-usuario{
    width: 40px;
    height: auto;
}

.logo-pagina{
    width: 50px;
    height: auto;
}

.sesion{
    margin-left: 45px;
    font-size: 20px;
}

.configuracion-titulo{
    margin-top: 20px;
}

.seccion-principal{
    margin-left: 35px;
}

.filtros-container{
    height: 550px;
    background-color: #133B61;
    margin: 0 18px 0 10px;
}

.ultimos-jugados, .recomendados{
    background-color: #133B61;
    height: 100px;
    margin-bottom: 20px;
}

.juegos{
    background-color: #133B61;
    height: 290px;
    width: 224px;
    margin: 20px 40px 20px 0;
}

